/* start css of headerrrrrrrr */


.header{
    background-color: #FF0000;
}











/* start css of home */




.home{
    background-color: #ffffff;
}









/* start css of footer */




.footer{
    background-color: #080606;
}
